* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  color: white;
  gap: 50px;
}
ul li {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
}

ul li:hover {
  background-color: rgb(88 196 220);
}

form input {
  padding: 15px 20px;
  width: 700px;
  border-radius: 30px;
  border: none;
  background: rgb(53, 59, 70);
}

.hero {
  margin-top: 100px;
  text-align: center;
}

.hero img {
  width: 120px;
}

.nav {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav p{
  font-size: 12px;
  color: rgb(109, 109, 109);
}
