* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #191f2c;
  padding: 20px 20px;
}

h1 {
  font-size: 70px;
  color: white;
  margin-bottom: 10px;
}
p {
  font-size: 30px;
  color: white;
  margin-top: 1px;
  font-weight: 600;
}

button {
  margin: 0 5px;
  border-radius: 30px;
  padding: 15px 30px;
  background: none;
  border: 1px solid gray;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: rgb(88 196 220);
}
